/* Portfolio v2.0 */
@font-face {
    font-family: 'Product Sans Black';
    src: url('../fonts/productsans-black-webfont.woff2') format('woff2'),
         url('../fonts/productsans-black-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Product Sans Bold';
    src: url('../fonts/productsans-bold-webfont.woff2') format('woff2'),
         url('../fonts/productsans-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Product Sans Light';
    src: url('../fonts/productsans-light-webfont.woff2') format('woff2'),
         url('../fonts/productsans-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
/* Normalize */
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    -webkit-font-smoothing: antialiased;
    background-color: #131313;
    transition: .6s all;
}
img {
    display: block;
    width: 100%;
}
::selection {
    background: #002DCA; /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background: #002DCA; /* Gecko Browsers */
  }
ul {
    list-style: none;
    padding-left: 0;
}
ol li {
    margin-bottom: 1.2rem;
}
p {
    margin-top: 0;
    line-height: 1.8rem;
    font-weight: 300;
    color: #E3E3E3;
}
p.destacado {
    font-size: 1.25rem;
}
/* Títulos */
h1 {
    font-family: 'Product Sans Black', sans-serif;
    font-size: 2.4rem;
    margin-top: 0;
}
h2 {
    font-family: 'Product Sans Light', sans-serif;
    font-weight: 300;
    font-size: 1.7rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    margin-top: 0;
}
h2.especial {
    margin-bottom: 3.5rem;
}
h2.especial::after {
    content: "";
    background: #0055FF;
    margin: 5px auto;
    width: 40px;
    height: 5px;
    display: block;
}
h3 {
    font-size: 1.35rem;
}
/* Botones y enlaces */
a {
    color: inherit;
    text-decoration: underline;
    text-decoration-color: #0055FF;
    text-underline-offset: 2px;
    text-decoration-thickness: 2px;
    transition: all ease .2s;
}
.button--link {
    text-transform: uppercase;
    font-size: 1.125rem;
    font-family: 'Product Sans Bold';
    text-decoration: none;
    color: #FFF;
    display: block;
}
.button--primary {
    font-family: 'Product Sans Bold';
    text-decoration: none;
    background: #0055ff;
    color: #FFF;
    text-transform: uppercase;
    padding: 15px 65px 13px 55px;
    border-radius: 6px;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    display: inline-block;
    text-align: center;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    -moz-transition: all 0.3s;
}
.button--primary:after {
    content: "";
    background: url('../img/icn-button-link.svg') center center no-repeat;
    margin-left: .5rem;
    width: .5rem;
    height: .6rem;
    margin-top: 0.3rem;
    display: inline-block;
    position: absolute;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.button--secondary {
    font-family: 'Product Sans Bold';
    text-decoration: none;
    color: #FFF;
    display: inline-block;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    -moz-transition: all 0.3s;
}
.button--secondary:after, .button--link:after {
    content: "";
    background: url('../img/icn-button-link.svg') center center no-repeat;
    margin-left: .5rem;
    width: .5rem;
    height: .6rem;
    margin-top: 0.36rem;
    display: inline-block;
    position: absolute;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
/* Hero de la home */
#hero {
    height: 400px;
    color: #FFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
#hero h1 {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 2.8rem;
    letter-spacing: -3px;
    margin: 0 auto;
}
#hero h1 a{
    text-underline-offset: 3px;
}
#hero p {
    font-size: 2rem;
    line-height: 2.25rem;
    margin: 0 auto 20px auto;
    font-family: 'Product Sans Light';
    text-transform: uppercase;
    letter-spacing: 1px;
}
#hero .emoji {
    margin-right: 10px;
}
#hero .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 1000px;
}
/* Indicador de scroll */
@keyframes scroll_2 {
    0%   { transform: translateY(0); opacity: 1; }
    25%  { opacity: 1; }
    75%  { transform: translateY(.45em); opacity: 0; }
    100% { transform: translateY(0); opacity: 0; }
}
.scroll-icon__dot {
display: block;
position: absolute;
left: 50%;
background: #002DCA;
height: 8px;
width: 4px;
top: 8px;
margin-left: -2px;
border-radius: 30%;
transform-origin: top center;
backface-visibility: hidden;
animation: scroll_2 2s ease-out infinite;
}
.scroll-icon {
display: block;
position: absolute;
height: 40px;
width: 26px;
border: 2px solid #002DCA;
border-radius: 1em;
bottom: 50px;
left: 50%;
margin-left: -26px;
opacity: .8;
}
/* Hero de Home, About, Blog y Work */
#hero, #subhero, #subhero.about {
    padding-top: 120px;
    margin-bottom: 80px;
}
#subhero h1 {
    font-family: 'Product Sans Light';
    font-weight: 300;
    text-transform: uppercase;
    font-size: 2.25rem;
    margin: 0 0 15px 0;
    color: #d0d0d0;
}
#subhero p {
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 2.8rem;
    letter-spacing: -3px;
    margin: 0 auto;
    max-width: 780px;
}
/* Estilos generales de secciones */
#projects {
    padding: 80px 0;
}
#last-projects {
    padding-bottom: 80px;
}
#last-projects .wrapper, #projects .wrapper  {
    padding: 0 20px;
}
/* Snippet Projecto */
.project {
    margin: 80px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    color: #FFF;
}
.project .button--primary {
    width: 100%;
}
.project__role span {
    font-family: 'Product Sans Bold';
    font-size: 1rem;
    display: inline-block;
    color: #6C9DFF;
    margin: 1rem 1rem 1rem 0;
}
.project__title {
    font-family: 'Product Sans Black';
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 2rem;
    letter-spacing: -1px;
    line-height: 2.2rem;
}
.project__description {
    line-height: 1.6rem;
    margin-bottom: 1.875rem;
    font-weight: 300;
    font-size: 18px;
}
.project__img {
    border-radius: 10px;
    display: inline-block;
    overflow: hidden;
    height: 356px;
}
.project__img img {
    margin: 0 auto;
    width: 100%;
    transition: .6s all;
}
#projects .wrapper .project:first-child {
    margin-top: -150px;
}
.separator {
    width: 100%;
    height: 1px;
    background-color: #1c1c1c;
}
/* Latest blog post */
#latest-blogpost {
    padding: 120px 0;
    background-color: #1C1C1C;
}
/* Blog cards */
.blog-card {
    text-decoration: none;
}
.blog-card .project {
    margin: 0 0 80px 0;
    background-color: #131313;
    border-radius: 10px;
    display: flex;
    color: #FFF;
}
.blog-card .project__title {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    letter-spacing: -1px;
    line-height: 2rem;
}
.blog-card .project__img {
    border-radius: 10px 10px 0 0;
    display: inline-block;
    overflow: hidden;
    height: 356px;
}
.blog-card .project__info {
    max-width: 500px;
    padding: 40px 20px;
}
#blog .blog-card .project {
    background-color: #1c1c1c;
}
/* Sección About de la home */
#mini-about{
    margin: 150px 0;
}
#mini-about .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 900px;
}
#mini-about .wrapper h2, #mini-about .wrapper .button--link  {
    text-align: center;
}
#mini-about .wrapper img  {
    max-width: 140px;
    height: auto;
    margin-bottom: 30px;
}
#mini-about p {
    max-width: 600px;
    text-align: center;
    font-weight: 300;
    font-size: 1.125rem;
    margin-bottom: 30px;
}
#mini-about a {
    display: block;
    max-width: 225px;
    margin: 0 auto;
}
/* Footer */
#contact {
    line-height: 1.85rem;
    background: #1c1c1c;
    padding-top: 100px;
    text-align: center;
}
#contact h3 {
    margin-bottom: 1rem;
    font-family: 'Product Sans Light';
    font-weight: 300;
    text-transform: uppercase;
}
#contact p {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 2.5rem;
    margin-bottom: 40px;
}
#contact img {
    max-width: 700px;
    margin: 0 auto;
}
/* Mini Footer */
#mini-footer {
    border-top: solid 1px #1c1c1c;
    padding: 60px 0;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    margin-top: 140px;
}
#mini-footer .wrapper {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    height: 140px;
}
#mini-footer .wrapper p {
    margin-bottom: 0;
}
#mini-footer .wrapper .links{
    display: flex;
}
/* Formato About*/
#about .wrapper {
    padding: 0 25px 80px 25px;
    max-width: 700px;
}
#about .wrapper img {
    max-width: 120px;
    margin: 0 auto 2rem auto;
}
#about h2 {
    margin: 0 0 .85rem 0;
}
.about__list__wrapper .emoji {
    position: absolute;
    left: -2rem;
    top: 2rem;
    font-size: 5rem;
    display: none;
}
.lists {
    padding: 30px 0;
    margin-bottom: 80px;
}
#about .lists .wrapper {
    max-width: 800px;
}
.about__list {
    margin: 0;
}
.about__list__wrapper {
    background-color: #1c1c1c;
    border-radius: 10px;
    padding: 60px 50px;
    margin-bottom: 3rem;
    position: relative;
}
.about__list li {
    margin-bottom: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.about__list li:last-child {
    margin-bottom: 0;
}
.about__list li::before {
    content: "";
    background: url('../img/blue-dot.svg') center center no-repeat;
    margin-right: .5rem;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    margin-top: .2rem;
}
.about__list li span {
    display: block;
    width: 100%;
    font-weight: 300;
    font-size: 1.125rem;
}
/* Post */
#hero-post {
    color: #FFF;
    padding: 120px 0 0 0;
    background:  #23262A;
    height: 450px;
}
#hero-post .wrapper {
    max-width: 780px;
    margin: 0 auto;
}
#hero-post h1 {    
    font-size: 2.2rem;
    line-height: 2.2rem;
    margin-bottom: 1rem;
    letter-spacing: -2px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}
#hero-post p {    
    font-size: 1.125rem;
    line-height: 1.8rem;
    margin-bottom: 2rem;
}
.post__cover {
    max-width: 90%;
    border-radius: 6px;
    margin: -100px auto 0 auto;
    margin-bottom: 60px;
}
/* Formato Case Study */
#hero-case-study {
    color: #FFF;
    padding: 80px 0 0 0;
    height: 100vh;
}
#hero-case-study .wrapper {
    text-align: center;
}
#hero-case-study.nextbus {
    background: radial-gradient(50% 50% at 50% 50%, #219653 0%, rgba(33, 150, 83, 0.58) 100%) #131313;
}
#hero-case-study.emochi {
    background: radial-gradient(50% 50% at 50% 50%, #71369F 0%, rgba(113, 54, 159, 0.58) 100%) #131313;
}
#hero-case-study.devoto {
    background: radial-gradient(50% 50% at 50% 50%, #245992 0%, rgba(36, 89, 146, 0.58) 100%) #131313;
}
#hero-case-study.dgi {
    background: radial-gradient(50% 50% at 50% 50%, #00A2B2 0%, rgba(0, 162, 178, 0.58) 100%);
}
#hero-case-study h1 {
    font-size: 2.4rem;
    line-height: 2.4rem;
    letter-spacing: -2px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}
#hero-case-study span {
    font-size: 1.4rem;
    display: block;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-family: 'Product Sans Light';
    font-weight: 300;
    color: #FFF;
}
#hero-case-study img {
    margin: 0 auto;
    max-width: 1000px;
    position: absolute;
    bottom: 0;
}
#case-study .wrapper, #post .wrapper {
    padding: 0 30px;
}
#case-study {
    margin-top: 80px;
}
.case-study__h2 {
    max-width: 650px;
    margin: 0 auto 2rem auto;
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 400;
    font-family: 'Open Sans';
    letter-spacing: -1px;
    text-transform: none;
}
.case-study__h3 {
    max-width: 650px;
    margin: 4rem auto .5rem auto;
    font-size: 1.25rem;
    font-weight: 400;
    font-family: 'Open Sans';
    letter-spacing: -1px;
}
.case-study__h4 {
    max-width: 650px;
    margin: 3rem auto .5rem auto;
    font-size: 1.125rem;
    font-weight: 400;
    font-family: 'Open Sans';
    letter-spacing: -1px;
}
.case-study__chapter {
    max-width: 650px;
    margin: 5rem auto .5rem auto;
    text-transform: uppercase;
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-weight: 300;
    font-family: 'Product Sans Light';
    letter-spacing: 1px;
}
.img-wrapper {
    background-color: #23262A;
    max-width: 780px;
    margin: 0 auto;
    border-radius: 6px;
    overflow: hidden;
    padding: 30px 30px 0 30px;
}
.img-wrapper__no-padding {
    background-color: #23262A;
    max-width: 780px;
    margin: 0 auto;
    border-radius: 6px;
    overflow: hidden;
    padding: 0;
}
.case-study__img {
    max-width: 780px;
    margin: 0 auto;
    border-radius: 6px;
}
.case-study__vid {
    max-width: 780px;
    margin: 0 auto;
    border-radius: 6px;
}
.vid-wrapper {
    background: #23262A;
    overflow: hidden;
    border-radius: 10px;
    max-width: 780px;
    margin: 0 auto;
}
.vid-wrapper video {
    max-width: 308px;
    margin: 0 auto;
    display: block;
    box-shadow: 0 0 15px 15px rgb(0 0 0 / 25%);
}
.vid-wrapper__full {
    max-width: 780px;
    margin: 0 auto;
}
.vid-wrapper__full video {
    width: 100%;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
}
.caption {
    text-align: center;
    margin: 10px 0 40px 0;
    font-size: .875rem;
    color: #9d9d9d;
}
#about .caption {
    margin: 10px 0 0 0;
    font-size: .875rem;
}
.case-study__paragraph {
    max-width: 650px;
    margin: 0 auto 2rem auto;
    font-size: 1.125rem;
}
.case-study__info-wrapper {
    width: 100%;
    background-color: #1d1d1d;
    padding: 50px;
    position: absolute;
    bottom: 0;
}
.case-study__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
}
.case-study__info div {
    margin-bottom: 30px;
}
.case-study__info div:last-child {
    margin-bottom: 0;
}
.case-study__info h4 {
    margin: 0;
}
.case-study__info p {
    margin: 0;
}
.case-study__quote {
    background: #002DCA;
    color: #FFF;
    padding: 50px;
    border-radius: 10px;
    max-width: 650px;
    margin: 4rem auto;
    position: relative;
}
.case-study__quote::before {
    content: "";
    background: url('../img/quote.svg');
    margin: 5px auto;
    width: 60px;
    height: 60px;
    left: -20px;
    top: -20px;
    position: absolute;
}
.case-study__quote p{
    font-style: italic;
    font-size: 1.2rem!important;
    font-weight: 400;
}
.case-study__special, .case-study__special > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow-x: hidden;
}
.case-study__ol {
    max-width: 650px;
    margin: 0 auto;
    padding-left: 0;
    list-style: none;
}
.case-study__ol li {
    color: #FFF;
    font-family: 'Product Sans Bold', sans-serif;
    counter-increment: li 1;
    padding-left: 45px;
    position: relative;
}
.case-study__ol li::before {
    content: counter(li);
    display: inline-block;
    background: #0055FF;
    border-radius: 20px;
    padding: 5px 10px;
    min-width: 10px;
    text-align: center;
    position: absolute;
    left: 0;
}
.case-study__ol li span {
    color: #E3E3E3;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.125rem;
    line-height: 2rem;
    font-weight: 300;
}
.case-study__shots .grid picture{
    margin-bottom: 1.5rem;
}
.case-study__shots .grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow-x: hidden;
    margin-top: 1.5rem;
}
.case-study__shots img {
    background-color: #23262A;
    border-radius: 6px;
    -webkit-transition: all .6s;
    -o-transition: all .6s;
    transition: all .6s;
}
.case-study__highlight {
    background: rgba(0, 45, 202, 0.1);
    
    color: #FFF;
    border-radius: 10px;
    border: 1px solid #002DCA;
    padding: 50px 20px;
    margin: 3rem auto;
    max-width: 650px;
}
.case-study__highlight p{
    font-size: 1.125rem;
    line-height: 2rem;
}
.case-study__navigator {
    background: rgba(255, 255, 255, 0.05);
    color: #FFF;
    border-radius: 10px;
    border: 1px solid #E3E3E3;
    margin: 3rem auto;
    padding: 40px 20px;
    text-align: center;
    max-width: 650px;
}
.case-study__navigator p {
    font-size: 1rem;
    font-family: 'Product Sans Light';
    text-transform: uppercase;
    margin-bottom: 0;
}
.case-study__navigator a {
    font-size: 1.25rem;
    letter-spacing: -1px;
}
#case-study .about__list {
    max-width: 650px;
    margin: 0 auto;
}
/* Menú */
body.no-scroll {
    overflow: hidden;
}
body.no-scroll main {
    pointer-events: none;
}
.menu-open .menu__content {
    visibility: visible;
}
.menu__wrapper .menu {
    position: fixed;
    left: 20px;
    top: 30px;
    z-index: 100;
    width: 50px;
    height: 50px;
    /*background: #131313;*/
    border-radius: 50% 50% 50% 50%;
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    -webkit-box-shadow: 0 0 0 0 #131313, 0 0 0 0 #131313;
            box-shadow: 0 0 0 0 #131313, 0 0 0 0 #131313;
    cursor: pointer;
  }
.menu__wrapper .hamburger {
    position: absolute;
    top: 25px;
    right: 12px;
    width: 26px;
    height: 2px;
    background: #FFF;
    display: block;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
        transform-origin: center;
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}
.menu__wrapper .hamburger:after, .menu__wrapper .hamburger:before {
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #FFF;
}
.menu__wrapper .hamburger:before { 
    top: -8px; 
}
.menu__wrapper .hamburger:after { 
    bottom: -8px; 
}
.menu__wrapper input { 
    display: none; 
}
.menu-open .menu {
    -webkit-box-shadow: 0 0 0 100vw #000, 0 0 0 100vh #000;
            box-shadow: 0 0 0 100vw #000, 0 0 0 100vh #000;
    border-radius: 0;
    background: #000;
}
.menu-open .menu .hamburger {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
        transform: rotate(45deg);
}
.menu-open .menu .hamburger:after {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    bottom: 0;
}
.menu-open .menu .hamburger:before {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    top: 0;
}
.menu-open .menu__content {
    opacity: 1;
    -webkit-transition: .4s .4s ease-in;
    -o-transition: .4s .4s ease-in;
    transition: .4s .4s ease-in;
}
.menu__content {
    z-index: 200;
    position: fixed;
    top: 55%;
    left: 50%;
    width: 100%;
    text-align: center;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    color: #FFF;
    padding: 0 30px;
    visibility: hidden;
    pointer-events: none;
}
.menu__content a {
    color: #FFF;
    pointer-events: initial;
}
.menu__content ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 2.5rem;
}
.menu__item {
    font-family: 'Product Sans Bold';
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 2.5rem;
    display: inline-block;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
    overflow: hidden;
    text-decoration: none;
}

@media screen and (min-width: 320px) and (max-width: 370px) {
    #contact .wrapper {
        padding: 0 10px;
    }
    #contact .button--contact {
        font-size: 1rem;
        padding: 16px 45px 10px 45px;
    }
    #contact p {
        font-size: 1rem;
    }
    .menu__content {
        top: 55%;
    }
    .menu__content ul {
        margin-bottom: 1rem;
    }
    .menu__item {
        font-size: 2.6rem;
        margin-bottom: 1.5rem;
    }
    #hero h1 {
        font-size: 2.5rem;
        line-height: 3rem;
    }
    #hero p {
        font-size: 1.2rem;
    }
    .project__role span {
        font-size: .65rem;
        margin: 0 .5rem 1.5rem 0;
    }
}
@media screen and (min-width: 768px) {
    /* Títulos */
    h2 {
        font-size: 1.95rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    /* Hero de la home */
    #hero h1 {
        font-size: 3rem;
        line-height: 3.5rem;
        margin-bottom: 0;
    }
    #hero p {
        font-size: 1.6rem;
    }
    /* Subhero */
    #subhero {
        padding-top: 180px;
        margin-bottom: 180px;
    }
    .hero__wrapper {
        max-width: 780px;
    }
    /* Snippet Proyecto */
    #last-projects .wrapper, #latest-blogpost .wrapper {
        max-width: 1000px;
        padding: 0 60px;
    }
    .project {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        max-height: 500px;
    }
    .project.inverted {
        flex-direction: row-reverse;
    }
    .project__info {
        max-width: 450px;
    }
    .project__img img {
        max-width: 356px;
        height: auto;
        margin-top: 0;
    }
    .project .button--primary {
        width: auto;
    }
    /* Blog cards */
    .blog-card .project {
        padding-left: 50px;
    }
    .blog-card .project__img {
        border-radius: 0 10px 10px 0;
    }
    .blog-card .project__title {
        margin-top: 0;
        margin-bottom: 1rem;
        font-size: 3rem;
        letter-spacing: -2px;
        line-height: 3.125rem;
    }
    /* Formato About y Proyectos */
    #subhero {
        text-align: center;
    }
    .about__list__wrapper {
        padding: 60px 50px 60px 80px;
    }
    .about__list__wrapper .emoji {
        display: block;
    }
    /* H1s */
    #hero-case-study h1, #hero-post h1  {
        font-size: 4rem;
        line-height: 4rem;
        letter-spacing: -3px;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    }
    /* Post */
    #hero-post {
        height: 600px;
    }
    #hero-post p {    
        font-size: 1.25rem;
        margin-bottom: 2rem;
    }
    .post__cover {
        max-width: 1000px;
        border-radius: 10px;
        margin: -220px auto 0 auto;
        margin-bottom: 80px;
    }
    /* Formato Case study */
    #hero-case-study span {
        font-size: 2rem;
    }
    #hero-case-study {
        color: #FFF;
        padding: 80px 0 0 0;
        height: 100vh;
    }
    #hero-case-study img {
        max-width: 1000px;
        position: absolute;
        bottom: 150px;
    }
    .case-study__info .wrapper {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        max-width: 850px;
    }
    .case-study__info .wrapper h2 {
        font-size: 1.7rem;
    }
    .case-study__h2 {
        font-size: 2.25rem;
        line-height: 2.75rem;
        letter-spacing: -2px;
    }
    .case-study__chapter {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .case-study__special {
        margin-bottom: 5rem;
    }
    .case-study__info {
        max-width: 60%;
    }
    .img-wrapper {
        padding: 80px 80px 0 80px;
    }
    .case-study__img {
        border-radius: 10px;
    }
    .img-wrapper {
        border-radius: 10px;
    }
    .img-wrapper__no-padding {
        border-radius: 10px;
    }
    .case-study__shots .grid {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .case-study__shots .grid picture {
        width: 49%;
    }
    .case-study__shots img {
        border-radius: 10px;
    }
    .case-study__shots .grid picture:nth-child(odd) {
        margin: 0 1% 1.5rem 0;
    }
    .case-study__shots .grid picture:nth-child(even) {
        margin: 0 0 1.5rem 1%;
    }
    .case-study__highlight {
        text-align: center;
        padding: 50px 80px;
    }
    .case-study__navigator {
        padding: 50px 100px;
        max-width: 650px;
    }
    .case-study__navigator p {
        font-size: 1.125rem;
    }
    .case-study__navigator a {
        font-size: 1.5rem;
        letter-spacing: -1px;
    }
    /* Formato About */
    .about__page {
        padding: 80px 120px;
    }
    .about__columns {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .about__columns .about__page {
        width: 48%;
        padding: 80px;
    }
    /* Home Footer */
    #contact p {
        font-size: 1.125rem;
        line-height: 1.8rem;
    }
    /* Mini Footer */
    #mini-footer {
        margin-top: 200px;
    }
    #mini-footer .wrapper {
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: auto;
    }
    /* Menu */
    .menu__content {
        top: 50%;
    }
}
@media screen and (min-width: 1000px) {
    #last-projects .wrapper, #latest-blogpost .wrapper {
        max-width: 1000px;
        padding: 0;
    }
    .project {
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .project__info {
        max-width: 580px;
        margin-bottom: 0;
    }
    .project__title {
        font-size: 4rem;
        line-height: 3.75rem ;
        letter-spacing: -4px;
    }
    .project__role span {
        margin: 0 1rem 2.5rem 0;
    }
    .case-study__info {
        flex-direction: row;
        max-width: 780px;
    }
    .case-study__info div {
        margin-bottom: 0;
    }
    .case-study__special, .case-study__special > div {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
    .case-study__paragraph{
        font-size: 1.125rem;
        line-height: 2rem;
    }
    .case-study__special ol li span, #about p {
        font-size: 1.125rem;
        line-height: 2rem;
    }
    /* Hover */
    .button--primary:hover {
        -webkit-box-shadow: none;
                box-shadow: none;
        background: #002DCA;
    }
    .button--primary:hover:after {
        margin-left: 1rem;
    }
    .button--secondary:hover:after, .button--link:hover:after, .blog-card:hover .button--link:after {
        background: url('../img/icn-button-link.svg') center center no-repeat;
        margin-left: 1rem;
    }
    .button--contact:hover {
        background: #002DCA;
    }
    #hero {
        height: 600px
    }
    #hero h1 {
        font-size: 3rem;
        line-height: 4rem;
        text-align: center;
        letter-spacing: -4px;
    }
    #hero p {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }
    #subhero h1 {
        font-size: 2.25rem;
        margin: 0 0 15px 0;
    }
    #subhero p {
        font-size: 3rem;
        line-height: 3.2rem;
        letter-spacing: -3px;
    }
    #contact p a, .menu__content p a, #about p a, #case-study a, #mini-footer a, #hero h1 a {
        border-bottom: none;
        display: inline-block;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        position: relative;
    }
    .menu__item::before, #contact p a::before, .menu__content p a::before, #about p a::before, #case-study a::before, #mini-footer a::before, #hero h1 a::before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 0;
        right: 100%;
        bottom: 0;
        background: #0055ff;
        height: 4px;
        -webkit-transition-property: right;
        -o-transition-property: right;
        transition-property: right;
        -webkit-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
           transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        -o-transition-timing-function: ease-out;
           transition-timing-function: ease-out;
    }
    .menu__item:hover:before, .menu__item:focus:before, .menu__item:active:before, #contact p a:hover:before, #contact p a:focus:before, #contact p a:active:before, .menu__content p a:hover:before, .menu__content p a:focus:before, .menu__content p a:active:before, #about p a:hover:before, #about p a:focus:before, #about p a:active:before, #case-study a:hover:before, #case-study a:focus:before, #case-study a:active:before, #mini-footer a:hover:before, #mini-footer a:focus:before, #mini-footer a:active:before, #hero h1 a:hover:before, #hero h1 a:focus:before, #hero h1 a:active:before {
        right: 0;
    }
    .blog-card:hover {
        cursor: pointer;
    }
    .blog-card:hover img {
        transform: scale(1.2);
    }
    .mode-toggle:hover {
        cursor: pointer;
        background-color: #393e44;
    }
}

/* Utilities */
.text-center {
    text-align: center;
}
.wrapper {
    padding: 0 30px;
    max-width: 1060px;
    margin: 0 auto;
}
.center-align {
    margin: 0 auto;
    display: block!important;
}
.u-mb0 {
    margin-bottom: 0!important;
}
.u-mb2 {
    margin-bottom: 2rem!important;
}
.u-mb3 {
    margin-bottom: 3rem!important;
}
.u-mb5 {
    margin-bottom: 5rem!important;
}
.u-mt0 {
    margin-top: 0;
}
.u-mr1 {
    margin-right: 1rem;
}
.hide {
    display: none;
}


[data-aos="fade-in"] {
    opacity: 0;
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0);
}

[data-aos="fade-in"].aos-animate {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

[data-aos="fade-scroll"] {
    opacity: 0;
}

[data-aos="fade-scroll"].aos-animate {
    opacity: 1;
}
.mode-toggle {
    padding: 20px 40px;
    border: none;
    text-align: left;
    width: 200px;
    color: #FFF;
    background-color: #23262A;
    border-radius: 8px;
    position: relative;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    font-family: 'Product Sans Black';
    font-weight: 900;
    font-size: 1rem;
    margin: -100px auto 50px auto;
    display: block;
}
.mode-toggle:after {
    content: "";
    background: url(../img/light.svg) center center no-repeat;
    width: 50px;
    height: 30px;
    top: 14px;
    left: 123px;
    position: absolute;
    -webkit-transition: all .6s;
    -o-transition: all .6s;
    transition: all .6s;
}
.light-mode .mode-toggle:after {
    background: url(../img/dark.svg) center center no-repeat;
    -webkit-transition: all .6s;
    -o-transition: all .6s;
    transition: all .6s;
}




body.light-mode {
    background-color: #FFF;
}
.light-mode #case-study p, .light-mode #post p, .light-mode #mini-footer p {
    color: #333;
}
.light-mode #case-study .case-study__quote p, .light-mode #post .case-study__quote p {
    color: #FFF;
}
.light-mode .case-study__paragraph, .light-mode .caption, .light-mode .case-study__highlight p, .light-mode .case-study__ol li span {
    font-weight: 400;
}
.light-mode .img-wrapper, .light-mode .img-wrapper__no-padding, .light-mode .case-study__shots img {
    background-color: #F0F2F5;
}
.light-mode .case-study__h2, .light-mode .case-study__h3, .light-mode .case-study__h4, .light-mode .case-study__ol li span {
    color: #333;
}
.light-mode .case-study__h2, .light-mode .case-study__h3 {
    font-weight: 700;
}
.light-mode ::selection {
    background: #0055ff2a;
}
.light-mode .case-study__quote p {
    color: #e3e3e3;
}
.light-mode .case-study__navigator {
    color: #333;
}
.light-mode #mini-footer {
    border-top: solid 1px #e6e6e6;
}