/* Portfolio v1.0 */

@font-face {
    font-family: 'Product Sans Bold';
    src: url('../fonts/productsans-bold-webfont.woff2') format('woff2'),
         url('../fonts/productsans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Product Sans Black';
    src: url('../fonts/productsans-black-webfont.woff2') format('woff2'),
         url('../fonts/productsans-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Product Sans Light';
    src: url('../fonts/productsans-light-webfont.woff2') format('woff2'),
         url('../fonts/productsans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/* Normalize */
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #1C232B;
}
img {
    display: block;
    width: 100%;
}
ul {
    list-style: none;
    padding-left: 0;
}
ol li {
    margin-bottom: 1.2rem;
}
p {
    margin-top: 0;
    line-height: 1.8rem;
}
p.destacado {
    font-size: 1.25rem;
}
/* Títulos */
h1, h2, h3 {
    font-family: 'Product Sans Black';
    margin-top: 0;
}
h1 {
    font-size: 2.4rem;
}
h2 {
    font-size: 1.7rem;
    margin-bottom: 1rem;
}
h2.especial::after {
    content: "";
    background: #FFA040;
    margin: 5px auto;
    width: 40px;
    height: 5px;
    display: block;
}
h3 {
    font-size: 1.35rem;
}
/* Botones y enlaces */
.button--link {
    text-transform: uppercase;
    font-size: 0.85rem;
    font-family: 'Product Sans Black';
    text-decoration: none;
    color: #0055FF;
    display: block;
}
.button--primary {
    text-transform: uppercase;
    font-size: .85rem;
    font-family: 'Product Sans Black';
    text-decoration: none;
    background: #0055ff;
    color: #FFF;
    padding: 13px 65px 13px 55px;
    border-radius: 30px;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    display: inline-block;
    text-align: center;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    -moz-transition: all 0.3s;
}
.button--secondary {
    text-transform: uppercase;
    font-family: 'Product Sans Black';
    text-decoration: none;
    color: #0055FF;
    display: inline-block;
    text-align: center;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    -moz-transition: all 0.3s;
}
.button--primary:after {
    content: "";
    background: url('../img/icn-button-link.svg') center center no-repeat;
    margin-left: .5rem;
    width: .5rem;
    height: .6rem;
    margin-top: 0.25rem;
    display: inline-block;
    position: absolute;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.button--secondary:after, .button--link:after {
    content: "";
    background: url('../img/icn-button-link-blue.svg') center center no-repeat;
    margin-left: .4rem;
    width: .5rem;
    height: .6rem;
    margin-top: 0.25rem;
    display: inline-block;
    position: absolute;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.blue .button--secondary:after{
    background: url('../img/icn-button-link.svg') center center no-repeat;
}
a {
    color: #0055FF;
    text-decoration: none;
}
#hero a {
    color: #FFF;
}
/* Animación Lava */
#lamp-anim {
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 0;
}
/* Hero de la home */
#hero {
    background: #0055ff;
    color: #FFF;
    padding: 50px 30px;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.logo {
    position: absolute;
    top: 45px;
    left: 80px;
    width: 200px;
}
.hero__wrapper {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 10;
}
#hero h1 {
    font-size: 3rem;
    line-height: 3.5rem;
    letter-spacing: -2px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}
#hero h1 span {
    color: #FFA040;
}
#hero p {
    font-size: 1.4rem;
    margin-top: 0;
    font-family: 'Product Sans Light';
}
#hero .button--link {
    font-size: 1.2rem;
    display: inline-block;
}
/* Hero de About y Projects */
#subhero {
    background: #0055ff;
    color: #FFF;
}
#subhero .wrapper {
    flex-direction: column;
    margin: 0 auto;
    max-width: 800px;
    justify-content: center;
}
#subhero h1 {
    font-size: 3rem;
    line-height: 3.2rem;
    margin-bottom: 1rem;
}
#subhero p {
    font-size: 1.4rem;
    margin-top: 0;
}
.projects .wrapper {
    position: relative;
    overflow: hidden;
}
/* Estilos generales de secciones */
.home-section .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 100px 30px 30px 30px;
    max-width: 100%;
    height: 100vh;
}
.home-section.projects .wrapper {
    padding: 50px 30px 30px 30px;
}
.home-section .wrapper.reverse {
    flex-direction: column-reverse;
}
#last-projects h2.especial {
    margin-bottom: 3.5rem;
}
/* Snippet Projecto */
.home-section.blue .project__role span, .home-section.blue .project__title, .home-section.blue .project__description, .home-section.blue .button--secondary, .home-section.blue .mini-about_info  {
    color: #FFF;
}
.project .button--primary {
    width: 100%;
}
.project__role span {
    font-size: .85rem;
    display: inline-block;
    padding: 5px 15px;
    border: solid 1px #ccc;
    color: #666;
    border-radius: 2px;
    margin: 0 1rem 1.5rem 0;
}
.project__title {
    font-family: 'Product Sans Black';
    font-size: 2.4rem;
    letter-spacing: -2px;
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 2.2rem;
}
.project__description {
    line-height: 1.6rem;
    max-width: 500px;
}
.project__img img {
    width: 100%;
    position: absolute;
    bottom: -100px;
    right: 0;
}
.reverse .project__img img {
    position: absolute;
    top: -20px;
    right: 0;
}
#projects .wrapper .project:first-child {
    margin-top: -150px;
}
/* Sección About de la home */
#mini-about {
    background: #FAFAFA;
}
#mini-about .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 900px;
    justify-content: center;
}
#mini-about .wrapper h2, #mini-about .wrapper .button--link  {
    text-align: center;
}
#mini-about .wrapper img  {
    max-width: 180px;
    height: auto;
    margin-bottom: 30px;
}
#mini-about p {
    max-width: 600px;
}
#mini-about a {
    display: block;
    max-width: 225px;
    margin: 0 auto;
}
/* Contact */
#contact {
    background: #002DCA;
    color: #FFF;
    display: flex;
    align-items: center;
}
.contact__text {
    max-width: 750px;
    height: 100vh;
    display: flex;
    align-items: center;
}
.contact__cta, .contact__links {
    padding: 0  30px;
}
.contact__cta {
    font-family: 'Product Sans Light';
    font-size: 2.2rem;
    line-height: 2.6rem;
    margin-bottom: 3rem;
}
.contact__cta a {
    font-family: 'Product Sans Black';
    font-size: 2.2rem;
}
.contact__links {
    font-size: 1.25rem;
    line-height: 2rem;
}
.contact__img {
    display: none;
}
#contact p a, .menu__content p a {
    color: #FFF;
    /*border-bottom: solid 2px #FFA040;*/
}
#credits {
    border-top: solid 1px #002DCA;
    padding: 15px 30px;
    background: #002195;
    position: absolute;
    bottom: 0;
    width: 100%;
}
#credits p {
    margin-bottom: 0;
    color: #FFF;
    text-align: center;
    font-size: .85rem;
}
/* Footer */
footer {
    position: relative;
    overflow: hidden;
    height: 350px;
    background: #002DCA;
    color: #FFF;
}
footer .contact__text {
    height: 100%;
}
footer .contact__links {
    margin-bottom: 0;
}
footer .contact__img {
    bottom: -350px;
}
footer p a {
    color: #FFF;
}
/* Formato About*/
#about {
    padding: 80px 0 0 0;
}
#about .wrapper {
    padding: 0 25px;
    max-width: 700px;
}
#about .wrapper img {
    max-width: 120px;
    margin: 0 auto 2rem auto;
}
#about p a {
    font-weight: normal;
}
#about h2 {
    margin: 0 0 .85rem 0;
}
.emoji {
    margin-right: .85rem;
}
.lists {
    background: #F0F2F5;
    padding: 50px 0;
}
.about__list {
    margin-bottom: 3rem;
}
.about__list li {
    margin-bottom: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.about__list li::before {
    content: "";
    background: url('../img/blue-dot.svg') center center no-repeat;
    margin-right: .5rem;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    margin-top: .2rem;
}
.about__list li span {
    display: block;
    width: 100%;
}
/* Formato Case Study */
#hero-case-study {
    background: #0055ff;
    color: #FFF;
    padding: 110px 0 0 0;
    text-align: center;
    /*display: flex;
    flex-direction: column;*/
}
#hero-case-study.emochi {
    background: #512683;
}
#hero-case-study.devoto {
    background: #0B52A9;
}
#hero-case-study .wrapper {
    max-width: 800px;
    text-align: center;
    width: 100%;
}
#hero-case-study .wrapper .scroll-down {
    position: relative;
    bottom: 10px;
    display: none;
}
#hero-case-study h1 {
    font-size: 2.2rem;
    line-height: 2rem;
    letter-spacing: -2px;
    margin-bottom: 1.6rem;
}
#hero-case-study p.destacado {
    font-family: 'Product Sans Light';
    font-size: 1.8rem;
    margin: 0 auto 1.2rem auto;
    line-height: 2rem;
    max-width: 500px;
}
#hero-case-study img {
    margin: 0 auto;
    max-width: 600px;
}
#hero-case-study .project__role span {
    margin: 0 .5rem 1rem .5rem;
    color: #FFF;
    border: solid 1px #FFF;
}
#case-study {
    padding: 0 0 50px 0;
}
.case-study__section .about__list li {
    font-size: 18px;

}
q {
    margin: 0 0 50px 0;
    padding: 30px;
    font-size: 1.2rem;
    line-height: 1.8rem;
    display: block;
    background: #512683;
    color: #FFF;
    border-radius: 5px;
}
.video-flow {
    background: #512683;
    overflow: hidden;
    border-radius: 3px;
}
.video-flow video {
    max-width: 308px;
    margin: 0 auto;
    display: block;
    box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.25);
}
video {
    width: 100%;
    height: auto;
}
.case-study__info {
    border-bottom: 1px solid #F0F2F5;
    padding: 20px 0;
}
.case-study__info .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.case-study__info .wrapper p {
    margin-bottom: 0;
    max-width: 600px;
}
#case-study .wrapper {
    padding: 30px;
}
#case-study .wrapper h3 {
    margin-bottom: .5rem;
}
.case-study__section {
    margin-bottom: 5rem;
}
.case-study__special, .case-study__special > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow-x: hidden;
}
.case-study__special ol {
    max-width: 690px;
}
.case-study__special ol li {
    color: #0055FF;
    font-family: 'Product Sans Black', sans-serif;
}
.case-study__special ol li span {
    color: #1C232B;
    font-family: 'Open Sans', sans-serif;
}
.case-study__special img {
    max-width: 580px;
}
.case-study__shots .grid picture{
    margin-bottom: 1.5rem;
}
.case-study__shots .grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow-x: hidden;
    margin-top: 1.5rem;
}
.case-study__section .case-study__results {
    background: #F0F2F5;
    color: #1C232B;
    padding: 50px 20px;
    margin: 5rem 0;
}
.case-study__results {
    background: #002DCA;
    color: #FFF;
    padding: 50px 20px;
    margin: 5rem 0;
}
.case-study__results p {
    margin-top: -60px;
}
.emblem {
    display: block;
    padding: 14px;
    height: 80px;
    width: 80px;
    font-size: 2.4rem;
    background: #0055FF;
    border-radius: 50%;
    position: relative;
    top: -90px;
    left: 50%;
    margin-left: -40px;
    text-align: center;
}
.case-study__navigator {
    background-color: #0055FF;
    color: #FFF;
    border-radius: 3px;
    width: 100%;
    position: relative;
    padding: 20px 0 15px 40px;
    display: block;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
.case-study__navigator:after {
    content: "";
    background: url('../img/icn-button-link.svg') center center no-repeat;
    width: 0.5rem;
    height: .6rem;
    margin-top: 0.25rem;
    display: block;
    position: absolute;
    right: 12%;
    bottom: 34px;
}
.case-study__navigator img {
    max-width: 120px;
    display: none;
}
.case-study__navigator span {
    display: block;
    text-transform: uppercase;
    font-size: .65rem;
    font-weight: normal;
    margin-bottom: .3rem;
}
.case-study__navigator p {
    font-size: 1.2rem;
    font-family: 'Product Sans Black';
    margin-bottom: 0;
}
/* Menú */
body.no-scroll {
    overflow: hidden;
}
body.no-scroll main {
    pointer-events: none;
}
.menu-open .menu__content {
    visibility: visible;
}

.menu__wrapper .menu {
    position: fixed;
    left: 20px;
    top: 30px;
    z-index: 100;
    width: 50px;
    height: 50px;
    background: #0055ff;
    border-radius: 50% 50% 50% 50%;
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    -webkit-box-shadow: 0 0 0 0 #0055ff, 0 0 0 0 #0055ff;
            box-shadow: 0 0 0 0 #0055ff, 0 0 0 0 #0055ff;
    cursor: pointer;
}
.menu__wrapper .menu.devoto {
    background: #0B52A9;
    -webkit-box-shadow: 0 0 0 0 #0B52A9, 0 0 0 0 #0B52A9;
            box-shadow: 0 0 0 0 #0B52A9, 0 0 0 0 #0B52A9;
}
.menu-open .menu.devoto {
    -webkit-box-shadow: 0 0 0 100vw #002DCA, 0 0 0 100vh #002DCA;
            box-shadow: 0 0 0 100vw #002DCA, 0 0 0 100vh #002DCA;
    border-radius: 0;
    background: #002DCA;
}
.menu__wrapper .menu.emochi {
    background: #512683;
    -webkit-box-shadow: 0 0 0 0 #512683, 0 0 0 0 #512683;
            box-shadow: 0 0 0 0 #512683, 0 0 0 0 #512683;
}
.menu-open .menu.emochi {
    -webkit-box-shadow: 0 0 0 100vw #002DCA, 0 0 0 100vh #002DCA;
            box-shadow: 0 0 0 100vw #002DCA, 0 0 0 100vh #002DCA;
    border-radius: 0;
    background: #002DCA;
}
.menu__wrapper .hamburger {
    position: absolute;
    top: 25px;
    right: 12px;
    width: 26px;
    height: 2px;
    background: #FFF;
    display: block;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
        transform-origin: center;
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}
.menu__wrapper .hamburger:after, .menu__wrapper .hamburger:before {
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #FFF;
}
.menu__wrapper .hamburger:before { 
    top: -8px; 
}
.menu__wrapper .hamburger:after { 
    bottom: -8px; 
}
.menu__wrapper input { 
    display: none; 
}
.menu-open .menu {
    -webkit-box-shadow: 0 0 0 100vw #002DCA, 0 0 0 100vh #002DCA;
            box-shadow: 0 0 0 100vw #002DCA, 0 0 0 100vh #002DCA;
    border-radius: 0;
    background: #002DCA;
}
.menu-open .menu .hamburger {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
        transform: rotate(45deg);
}
.menu-open .menu .hamburger:after {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    bottom: 0;
}
.menu-open .menu .hamburger:before {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    top: 0;
}
.menu-open .menu__content {
    opacity: 1;
    -webkit-transition: .4s .4s ease-in;
    -o-transition: .4s .4s ease-in;
    transition: .4s .4s ease-in;
}
.menu__content {
    z-index: 200;
    position: fixed;
    top: 60%;
    left: 50%;
    width: 100%;
    text-align: center;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    color: #FFF;
    padding: 0 30px;
    visibility: hidden;
    pointer-events: none;
}
.menu__content a {
    color: #FFF;
    pointer-events: initial;
}
.menu__content ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 2.5rem;
}
.menu__item {
    font-family: 'Product Sans Black';
    font-size: 3rem;
    margin-bottom: 2.5rem;
    display: inline-block;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
    overflow: hidden;
}
.menu__content p {
    line-height: 2rem;
}
/* Language selector */
#language {
    position: absolute;
    right: 20px;
    top: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: 'Product Sans Black', sans-serif;
    margin: 0;
    z-index: 50;
}
#language a {
    color: #FFF;
    margin-right: .5rem;
    height: 40px;
    width: 40px;
    padding: 10px 9px;
    display: block;
    text-align: center;
    border: solid 2px;
    border-radius: 50%;
    border: solid 2px rgba(0, 0, 0, 0);
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
#language a.selected {
    border: solid 2px #fff;
    border-radius: 50%;
    pointer-events: none;
}
#language.dark a {
    color: #0055FF;
}
#language.dark a.selected {
    border: solid 2px #0055FF;
}
/* Boton de Scroll */
.scroll-down {
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin-left: -20px;
    display: block;
    width: 40px;
    height: 40px;
    background-size: 14px auto;
    border-radius: 50%;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
    -webkit-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    display: block;
    width: 10px;
    height: 10px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}
@-webkit-keyframes bounce {
0%,
100%,
20%,
50%,
80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}
40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
}
60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}
}
@keyframes bounce {
0%,
100%,
20%,
50%,
80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}
40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
}
60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}
}

@media screen and (min-width: 320px) and (max-width: 370px) {
    #contact .wrapper {
        padding: 0 10px;
    }
    #contact .button--contact {
        font-size: 1rem;
        padding: 16px 45px 10px 45px;
    }
    .menu__content {
        top: 55%;
    }
    .menu__content ul {
        margin-bottom: 1rem;
    }
    .menu__item {
        font-size: 2.6rem;
        margin-bottom: 1.5rem;
    }
    #hero h1 {
        font-size: 2.5rem;
        line-height: 3rem;
    }
    #hero p {
        font-size: 1.2rem;
    }
    #hero-case-study h1 {
        font-size: 1.8rem;
        line-height: 1.8rem;
        margin-bottom: 1rem;
    }
    .project__role span {
        font-size: .65rem;
        margin: 0 .5rem 1.5rem 0;
    }
    .project__title {
        font-size: 1.8rem;
        line-height: 1.8rem;
    }
}

@media screen and (max-width: 600px) {
    body.home {
        overflow: auto!important;
    }
    .home-img {
        visibility: visible;
    }
    .home-section .wrapper {
        position: relative;
        overflow: hidden;
    }
    /*.project__img img {
        bottom: -200px;
    }*/
    .reverse .project__img img {
        top: -80px;
    }
}

@media screen and (min-width: 768px) {
    /* Títulos */
    h2 {
        font-size: 1.95rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    /* Hero de la home */
    #hero h1 {
        font-size: 3.8rem;
        line-height: 4rem;
        margin-bottom: 0;
        letter-spacing: -2px;
    }
    #hero p {
        font-size: 1.6rem;
    }
    .hero__wrapper {
        max-width: 750px;
    }
    /* Snippet Proyecto */
    #last-projects .wrapper {
        max-width: 1200px;
    }
    .home-section .wrapper {
        padding: 200px 0 0 50px;
        align-items: initial;
    }
    .home-section .wrapper.reverse {
        padding-bottom: 50px;
    }
    .project__title {
        font-size: 4rem;
        letter-spacing: -3px;
        line-height: 3.6rem;
        margin-bottom: 2rem;
    }
    .project__info {
        max-width: 650px;
        margin-bottom: 50px;
    }
    .project__img {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 50%;
    }
    .project__img.top {
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
    }
    .project__img img, .reverse .project__img img {
        height: auto;
        margin-top: 0;
        position: unset;
    }
    .project .button--primary {
        width: auto;
    }
    /* Sección About de la home */
    #mini-about .wrapper {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
                padding: 50px;
    }
    #mini-about .wrapper img {
        margin: 0 4rem 0 0;
    }
    #mini-about .wrapper h2, #mini-about .wrapper .button--link  {
        text-align: left;
    }
    #mini-about a {
        display: inline-block;
        max-width: none;
    }
    /* Formato About y Proyectos */
    #subhero {
        text-align: center;
    }
    /* Formato Case study */
    #hero-case-study {
        height: 100vh;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        text-align: left;
        padding: 50px 30px 0 30px;
    }
    #hero-case-study .wrapper {
        position: absolute;
        bottom: 0;
        left: 50%;
        -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
        max-width: 600px;
    }
    #hero-case-study .wrapper .scroll-down {
        display: block;
    }
    #hero-case-study h1 {
        font-size: 3rem;
        line-height: 3rem;
        margin-bottom: 2rem;
    }
    #hero-case-study .wrapper img {
        margin-bottom: 0;
    }
    #case-study {
        padding: 0 0 50px 0;
    }
    .case-study__info .wrapper {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        max-width: 850px;
    }
    .case-study__info .wrapper h2 {
        margin: 0 2rem 0 0;
        width: 140px;
        text-align: right;
        font-size: 1.7rem;
    }
    .case-study__section {
        max-width: 690px;
        margin: 0 auto 5rem auto;
    }
    .case-study__special {
        margin-bottom: 5rem;
    }
    .case-study__shots .grid {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .case-study__shots .grid picture {
        width: 49%;
        
    }
    .case-study__shots .grid picture:nth-child(odd) {
        margin: 0 1% 1.5rem 0;
    }
    .case-study__shots .grid picture:nth-child(even) {
        margin: 0 0 1.5rem 1%;
    }
    .case-study__results {
        text-align: center;
        padding: 50px 100px;
    }
    .case-study__navigator {
        padding: 15px 0 0 40px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .case-study__navigator:after {
        content: "";
        background: url('../img/icn-button-link.svg') center center no-repeat;
        width: 0.5rem;
        height: .6rem;
        display: block;
        position: absolute;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        right: 10%;
        bottom: 40px;
    }
    .case-study__navigator img {
        display: block;
    }
    .case-study__navigator span {
        display: block;
        text-transform: uppercase;
        font-size: .85rem;
        font-weight: normal;
        margin-bottom: .3rem;
    }
    .case-study__navigator p {
        font-size: 1.5rem;
        font-family: 'Product Sans Black';
        margin-bottom: 10px;
    }
    /* Formato About */
    .about__page {
        padding: 80px 120px;
    }
    .about__columns {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .about__columns .about__page {
        width: 48%;
        padding: 80px;
    }
    /* Contacto */
    .contact__cta, .contact__links {
        padding: 0 0 0 50px;
    }
    .contact__cta {
        font-size: 3.5rem;
        margin-bottom: .85rem;
        line-height: 3.5rem;
    }
    .contact__cta a {
        font-size: 3.5rem;
    }
    /* language selector */
    #language a {
        padding: 8px 9px;
    }
    /* Menu */
    .menu__content {
        top: 50%;
    }
}
@media screen and (min-width: 1000px) {
    .home-section .wrapper {
        padding: 200px 0 0 50px;
        align-items: initial;
        flex-direction: row;
        justify-content: initial;
    }
    .project {
        padding: 65px 65px 0 65px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .project__title {
        font-size: 4rem;
        letter-spacing: -3px;
        line-height: 3.6rem;
        margin-bottom: 2rem;
    }
    .project__role span {
        margin: 0 1rem 2.5rem 0;
    }
    #hero-case-study .wrapper {
        max-width: 800px;
    }
    #hero-case-study h1 {
        font-size: 3.5rem;
        line-height: 3.5rem;
        letter-spacing: -2px;
        max-width: 700px;
        margin: 0 auto .5rem auto;
    }
    .case-study__special, .case-study__special > div {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
    .case-study__section p, .case-study__special ol li span, #about p {
        font-size: 18px;
        line-height: 2rem;
    }
    #language {
        right: 30px;
    }
    /* Hover Botones */
    .button--primary:hover {
        -webkit-box-shadow: none;
                box-shadow: none;
        background: #002DCA;
    }
    .button--primary:hover:after {
        margin-left: 1rem;
    }
    .button--secondary:hover:after, .button--link:hover:after {
        margin-left: 1rem;
    }
    .button--contact:hover {
        background: #002DCA;
    }
    .case-study__navigator:hover:after {
        right: 8%;
    }
    .case-study__navigator:hover {
        background-color: #002DCA;
        -webkit-box-shadow: none;
                box-shadow: none;
    }
    #contact p a, .menu__content p a, footer p a {
        border-bottom: none;
        display: inline-block;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        position: relative;
    }
    .menu__item::before, #contact p a::before, .menu__content p a::before, footer p a::before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 0;
        right: 100%;
        bottom: 0;
        background: #FFA040;
        height: 4px;
        -webkit-transition-property: right;
        -o-transition-property: right;
        transition-property: right;
        -webkit-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
           transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        -o-transition-timing-function: ease-out;
           transition-timing-function: ease-out;
    }
    .menu__item:hover:before, .menu__item:focus:before, .menu__item:active:before, #contact p a:hover:before, #contact p a:focus:before, #contact p a:active:before, .menu__content p a:hover:before, .menu__content p a:focus:before, .menu__content p a:active:before, footer p a:hover:before {
        right: 0;
    }
    #language a:hover {
        background: #FFF;
        color: #0055FF;
    }
    #language.dark a:hover {
        background: #0055FF;
        color: #FFF;
    }
    footer {
        padding-left: 100px;
    }
}

@media screen and (min-width: 1200px) {
    .home-section .wrapper, .home-section .wrapper.reverse {
        padding: 0 0 0 50px;
        align-items: center;
        flex-direction: row;
    }
    /* Contacto */
    .contact__img {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        max-width: 500px;
    }
    .contact__links {
        font-size: 1rem;
    }
    .project__img, .reverse .project__img {
        width: 40%;
    }
}

@media screen and (min-width: 1365px) {
    .project__img, .reverse .project__img {
        width: 50%;
    }
}

/* Utilities */
.text-center {
    text-align: center;
}
.wrapper {
    padding: 0 30px;
    max-width: 1060px;
    margin: 0 auto;
}
.center-align {
    margin: 0 auto;
    display: block!important;
}
.u-mb0 {
    margin-bottom: 0!important;
}
.u-mb2 {
    margin-bottom: 2rem!important;
}
.u-mb3 {
    margin-bottom: 3rem!important;
}
.u-mb5 {
    margin-bottom: 5rem!important;
}
.hide {
    display: none;
}


[data-aos="fade-in"] {
    opacity: 0;
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0);
}

[data-aos="fade-in"].aos-animate {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

[data-aos="fade-scroll"] {
    opacity: 0;
}

[data-aos="fade-scroll"].aos-animate {
    opacity: 1;
}


/* Home */
.home-section.blue {
    background: #0055ff;
}

.home-img {
    visibility: hidden;
}

body.home {
    margin: 0;
    overflow: hidden;
    -webkit-transition: opacity 400ms;
    -moz-transition: opacity 400ms;
    transition: opacity 400ms;
}

body, .onepage-wrapper, html {
    display: block;
    position: static;
    padding: 0;
    width: 100%;
    height: 100%;
}

.onepage-wrapper {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    padding: 0;
    -webkit-transform-style: preserve-3d;
}

.onepage-wrapper .section {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.onepage-pagination {
    position: absolute;
    right: 20px;
    top: 42%;
    z-index: 5;
    list-style: none;
    margin: 0;
    padding: 0;
}
.onepage-pagination li {
    padding: 0;
    text-align: center;
}
.onepage-pagination li a{
    padding: 10px;
    width: 4px;
    height: 4px;
    display: block;
}
.onepage-pagination li a:before{
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    background: #002DCA;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.onepage-pagination li a.active:before{
    width: 10px;
    height: 10px;
    background: none;
    border: 1px solid #002DCA;
    margin-top: -4px;
    left: 7px;
}

.disabled-onepage-scroll, .disabled-onepage-scroll .wrapper {
    overflow: auto;
}

.disabled-onepage-scroll .onepage-wrapper .section {
    position: relative !important;
    top: auto !important;
    left: auto !important;
}
.disabled-onepage-scroll .onepage-wrapper {
    -webkit-transform: none !important;
    -moz-transform: none !important;
    transform: none !important;
    -ms-transform: none !important;
    min-height: 100%;
}
.disabled-onepage-scroll .onepage-pagination {
    display: none;
}

  /* Indicador de scroll */
  @keyframes scroll_2 {
    0%   { transform: translateY(0); opacity: 1; }
    25%  { opacity: 1; }
    75%  { transform: translateY(.45em); opacity: 0; }
    100% { transform: translateY(0); opacity: 0; }
  }
  
  .example--2 {
    background: cornflowerblue;
  }
  
  .scroll-icon__dot {
    display: block;
    position: absolute;
    left: 50%;
    background: #99ABEA;
    height: 8px;
    width: 4px;
    top: 8px;
    margin-left: -2px;
    border-radius: 30%;
    transform-origin: top center;
    backface-visibility: hidden;
    animation: scroll_2 2s ease-out infinite;
  }
  
  .scroll-icon {
    display: block;
    position: absolute;
    height: 40px;
    width: 26px;
    border: 2px solid #99ABEA;
    border-radius: 1em;
    bottom: 50px;
    left: 50%;
    margin-left: -26px;
    opacity: .8;
  }