@font-face {
    font-family: 'Product Sans Bold';
    src: url('../fonts/productsans-bold-webfont.woff2') format('woff2'),
         url('../fonts/productsans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Product Sans Light';
    src: url('../fonts/productsans-light-webfont.woff2') format('woff2'),
         url('../fonts/productsans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/* Normalize */
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #1C232B;
    -webkit-font-smoothing: antialiased;
}
img {
    display: block;
    width: 100%;
}
ul {
    list-style: none;
    padding-left: 0;
}
ol li {
    margin-bottom: 1.2rem;
}
p {
    margin-top: 0;
    line-height: 1.8rem;
}
p.destacado {
    font-size: 1.25rem;
}
/* Títulos */
h1, h2, h3 {
    font-family: 'Product Sans Bold';
    margin-top: 0;
}
h1 {
    font-size: 2.4rem;
}
h2 {
    font-size: 1.7rem;
    margin-bottom: 1rem;
}
h2.especial::after {
    content: "";
    background: #FFA040;
    margin: 5px auto;
    width: 40px;
    height: 5px;
    display: block;
}
h3 {
    font-size: 1.35rem;
}
/* Botones y enlaces */
.button--link {
    text-transform: uppercase;
    font-size: 0.85rem;
    font-family: 'Product Sans Bold';
    text-decoration: none;
    color: #0055FF;
    display: block;
}
.button--primary {
    text-transform: uppercase;
    font-size: .85rem;
    font-family: 'Product Sans Bold';
    text-decoration: none;
    background: #0055ff;
    color: #FFF;
    padding: 13px 65px 13px 55px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    display: inline-block;
    text-align: center;
    transition: all .3s;
    -moz-transition: all 0.3s;
}
.button--secondary {
    text-transform: uppercase;
    font-size: .85rem;
    font-family: 'Product Sans Bold';
    text-decoration: none;
    border: solid 2px #0055FF;
    color: #0055FF;
    padding: 13px 65px 13px 55px;
    border-radius: 30px;
    display: inline-block;
    text-align: center;
    transition: all .3s;
    -moz-transition: all 0.3s;
}
.button--contact {
    font-size: 1.2rem;
    font-family: 'Product Sans Bold';
    text-decoration: none;
    background: #0055ff;
    color: #FFF;
    padding: 13px 55px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    display: inline-block;
    text-align: center;
    transition: all .3s;
    -moz-transition: all 0.3s;
    margin-bottom: 1rem;
}
.button--contact span {
    font-family: 'Product Sans Light';
}
.button--primary:after {
    content: "";
    background: url(../img/icn-button-link.svg) center center no-repeat;
    margin-left: .5rem;
    width: .5rem;
    height: .6rem;
    margin-top: 0.25rem;
    display: inline-block;
    position: absolute;
    transition: all .3s;
}
.button--secondary:after, .button--link:after {
    content: "";
    background: url(../img/icn-button-link-blue.svg) center center no-repeat;
    margin-left: .5rem;
    width: .5rem;
    height: .6rem;
    margin-top: 0.25rem;
    display: inline-block;
    position: absolute;
    transition: all .3s;
}
.button--primary.center, .button--secondary.center {
    margin: 0 auto;
    display: block;
    max-width: 350px;
}
a {
    color: #0055FF;
    font-weight: bold;
    text-decoration: none;
}
#hero a {
    color: #FFF;
}
/* Animación Lava */
#lamp-anim {
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 0;
}
/* Hero de la home */
#hero {
    background: #0055FF;
    color: #FFF;
    padding: 50px 30px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo {
    position: absolute;
    top: 45px;
    left: 80px;
    width: 200px;
}
.hero__wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 10;
}
#hero h1 {
    font-size: 3rem;
    line-height: 3.5rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}
#hero h1 span {
    color: #FFA040;
}
#hero p {
    font-size: 1.4rem;
    margin-top: 0;
    font-family: 'Product Sans Light';
}
#hero .button--link {
    font-size: 1.2rem;
    display: inline-block;
}
/* Hero de About y Projects */
#subhero {
    background: #0055FF;
    color: #FFF;
    padding: 110px 0;
}
#subhero h1 {
    font-size: 3rem;
    line-height: 3.2rem;
    margin-bottom: 1rem;
}
#subhero p {
    font-size: 1.4rem;
    margin-top: 0;
}

/* Estilos generales de secciones */
#last-projects, #projects, #mini-about {
    padding: 80px 0;
}
#projects, #about, #mini-about {
    background: #FAFAFA;
}
#last-projects .wrapper {
    padding: 0 20px;
}
#last-projects h2.especial {
    margin-bottom: 3.5rem;
}
/* Snippet Projecto */
.project {
    padding: 30px 25px 0 25px;
    background: #F0F2F5;
    /*box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);*/
    margin-bottom: 70px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}
.project.dark {
    color: #FFF;
}
.project .button--primary {
    width: 100%;
}
.project__role span {
    font-size: .85rem;
    display: inline-block;
    padding: 5px 15px;
    border: solid 1px #ccc;
    color: #999;
    border-radius: 2px;
    margin: 0 1rem 1.5rem 0;
}
.project__info {
    max-width: 430px;
}
.project__title {
    font-family: 'Product Sans Bold';
    font-size: 1.75rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 2.2rem;
}
.project__img img {
    margin-top: 50px;
}
#projects .wrapper .project:first-child {
    margin-top: -150px;
}
.project .button--primary {
    width: 100%;
}
/* Sección About de la home */
#mini-about .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 900px;
}
#mini-about .wrapper h2, #mini-about .wrapper .button--link  {
    text-align: center;
}
#mini-about .wrapper img  {
    max-width: 180px;
    height: auto;
    margin-bottom: 30px;
}
#mini-about a {
    display: block;
    max-width: 225px;
    margin: 0 auto;
}
/* Footer */
#contact {
    line-height: 1.85rem;
    background: #002195;
    padding: 60px 0;
    color: #FFF;
    text-align: center;
}
#contact h3 {
    margin-bottom: 1rem;
}
#contact p {
    font-size: 1.25rem;
    line-height: 2.5rem;
    margin-bottom: 2.5rem;
}
#contact .wrapper p:last-child {
    margin-bottom: 0;
}
#contact p a, .menu__content p a {
    color: #FFF;
    border-bottom: solid 2px #FFA040;
}
#contact .emoji {
    display: none;
}
#credits {
    border-top: solid 1px #002DCA;
    padding: 15px 30px;
    background: #002195;
}
#credits p {
    margin-bottom: 0;
    color: #FFF;
    text-align: center;
    font-size: .85rem;
}
/* Formato About*/
#about {
    padding: 80px 0 0 0;
}
#about .wrapper {
    padding: 0 25px;
    max-width: 700px;
}
#about .wrapper img {
    max-width: 120px;
    margin: 0 auto 2rem auto;
}
#about h2 {
    margin: 0 0 .85rem 0;
}
#about p {
    line-height: 1.8rem;
}
.emoji {
    margin-right: .85rem;
}
.lists {
    background: #F0F2F5;
    padding: 50px 0;
}
.about__list {
    margin-bottom: 3rem;
}
.about__list li {
    margin-bottom: 15px;
    display: flex;
}
.about__list li::before {
    content: "";
    background: url(../img/blue-dot.svg) center center no-repeat;
    margin-right: .5rem;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    margin-top: .2rem;
}
.about__list li span {
    display: block;
    width: 100%;
}
/* Formato Case Study */
#hero-case-study {
    background: #0055FF;
    color: #FFF;
    padding: 110px 0 0 0;
    text-align: center;
    /*display: flex;
    flex-direction: column;*/
}
#hero-case-study .wrapper {
    max-width: 800px;
    text-align: center;
}
#hero-case-study .wrapper .scroll-down {
    position: relative;
    bottom: 10px;
    display: none;
}
#hero-case-study h1 {
    font-size: 2rem;
    margin-bottom: .5rem;
}
#hero-case-study p.destacado {
    font-family: 'Product Sans Light';
    font-size: 1.8rem;
    margin: 0 auto 1.2rem auto;
    line-height: 2rem;
    max-width: 500px;
}
#hero-case-study img {
    margin: 0 auto;
    max-width: 600px;
}
#hero-case-study .project__role span {
    margin: 0;
    color: #FFF;
    border: solid 1px #FFF;
}
#case-study {
    padding: 0 0 50px 0;
}
.case-study__info {
    border-bottom: 1px solid #F0F2F5;
    padding: 20px 0;
}
.case-study__info .wrapper {
    display: flex;
    flex-direction: column;
}
.case-study__info .wrapper p {
    margin-bottom: 0;
    max-width: 800px;
}
#case-study .wrapper {
    padding: 30px;
}
#case-study .wrapper h3 {
    margin-bottom: .5rem;
}
.case-study__section {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
}
.case-study__special {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}
.case-study__special ol li {
    color: #0055FF;
    font-family: 'Product Sans Bold', sans-serif;
}
.case-study__special ol li span {
    color: #1C232B;
    font-family: 'Open Sans', sans-serif;
}
.case-study__special img {
    max-width: 580px;
}
.case-study__shots img{
    margin-bottom: 1.5rem;
}
.case-study__shots .grid {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
.case-study__results {
    background: #002DCA;
    color: #FFF;
    padding: 50px 20px;
    margin: 5rem 0;
}
.case-study__results p {
    margin-top: -60px;
}
.emblem {
    display: block;
    padding: 14px;
    height: 80px;
    width: 80px;
    font-size: 2.4rem;
    background: #0055FF;
    border-radius: 50%;
    position: relative;
    top: -90px;
    left: 50%;
    margin-left: -40px;
    text-align: center;
}
.case-study__navigator {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.case-study__navigator .button {
    background-color: #002195;
    color: #FFF;
    border-radius: 6px;
    display: block;
    width: 100%;
}
.case-study__navigator .previous span, .case-study__navigator .next span {
    display: block;
    text-transform: uppercase;
    font-size: .85rem;
    font-weight: normal;
    margin-bottom: .3rem;
}
.case-study__navigator .previous p, .case-study__navigator .next p {
    font-size: 1.5rem;
    font-family: 'Product Sans Bold';
}
.case-study__navigator .previous {
    text-align: right;
    padding: 30px 60px 0 0;
}
.case-study__navigator .next {
    padding: 30px 0 0 60px;
}
/* Menú */
body.no-scroll {
    overflow: hidden;
}
body.no-scroll main {
    pointer-events: none;
}
.menu-open .menu__content {
    visibility: visible;
}
.menu__wrapper .menu {
    position: fixed;
    left: 20px;
    top: 30px;
    z-index: 100;
    width: 50px;
    height: 50px;
    background: #0055ff;
    border-radius: 50% 50% 50% 50%;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    box-shadow: 0 0 0 0 #0055ff, 0 0 0 0 #0055ff;
    cursor: pointer;
  }
.menu__wrapper .hamburger {
    position: absolute;
    top: 25px;
    right: 12px;
    width: 26px;
    height: 2px;
    background: #FFF;
    display: block;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}
.menu__wrapper .hamburger:after, .menu__wrapper .hamburger:before {
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #FFF;
}
.menu__wrapper .hamburger:before { 
    top: -8px; 
}
.menu__wrapper .hamburger:after { 
    bottom: -8px; 
}
.menu__wrapper input { 
    display: none; 
}
.menu-open .menu {
    box-shadow: 0 0 0 100vw #002DCA, 0 0 0 100vh #002DCA;
    border-radius: 0;
    background: #002DCA;
}
.menu-open .menu .hamburger {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.menu-open .menu .hamburger:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    bottom: 0;
}
.menu-open .menu .hamburger:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0;
}
.menu-open .menu__content {
    opacity: 1;
    -webkit-transition: .4s .4s ease-in;
    transition: .4s .4s ease-in;
}
.menu__content {
    z-index: 200;
    position: fixed;
    top: 60%;
    left: 50%;
    width: 100%;
    text-align: center;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #FFF;
    padding: 0 30px;
    visibility: hidden;
    pointer-events: none;
}
.menu__content a {
    color: #FFF;
    pointer-events: initial;
}
.menu__content ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 3rem;
}
.menu__item {
    font-family: 'Product Sans Bold';
    font-size: 3rem;
    margin-bottom: 2.5rem;
    display: inline-block;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
    overflow: hidden;
}
.menu__content p {
    line-height: 2rem;
}
/* Boton de Scroll */
.scroll-down {
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin-left: -20px;
    display: block;
    width: 40px;
    height: 40px;
    background: #002DCA;
    background-size: 14px auto;
    border-radius: 50%;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 10px;
    height: 10px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}
@keyframes bounce {
0%,
100%,
20%,
50%,
80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}
40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
}
60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}
}


@media screen and (min-width: 768px) {
    /* Títulos */
    h2 {
        font-size: 1.95rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    /* Hero de la home */
    #hero h1 {
        font-size: 3rem;
        line-height: 3.5rem;
    }
    #hero p {
        font-size: 1.6rem;
    }
    .hero__wrapper {
        max-width: 680px;
    }
    /* Snippet Proyecto */
    #last-projects .wrapper {
        max-width: 1200px;
    }
    .project {
        flex-direction: row;
        padding: 65px 65px 0 65px;
        justify-content: space-between;
        align-items: center;
        max-height: 500px;
    }
    .project__role span {
        margin: 0 1rem 2.5rem 0;
    }
    .project__title {
        font-size: 2.2rem;
    }
    .project__info {
        margin-bottom: 50px;
    }
    .project__img img {
        max-width: 550px;
        height: auto;
        margin-top: 0;
    }
    .project .button--primary {
        width: auto;
    }
    .project .button--primary {
        width: auto;
    }
    /* Sección About de la home */
    #mini-about {
        height: 500px;
        display: flex;
    }
    #mini-about .wrapper {
        flex-direction: row;
    }
    #mini-about .wrapper img {
        margin: 0 4rem 0 0;
    }
    #mini-about .wrapper h2, #mini-about .wrapper .button--link  {
        text-align: left;
    }
    #mini-about a {
        display: inline-block;
        max-width: none;
    }
    /* Formato About y Proyectos */
    #subhero {
        text-align: center;
    }
    /* Formato Case study */
    #hero-case-study {
        height: 100vh;
        flex-direction: row;
        text-align: left;
        padding: 50px 30px 0 30px;
    }
    #hero-case-study .wrapper {
        position: absolute;
        bottom: 0;
        left: 50%;
        -webkit-transform: translate(-50%);
        transform: translate(-50%);
    }
    #hero-case-study .wrapper .scroll-down {
        display: block;
    }
    #hero-case-study .wrapper img {
        margin-bottom: 0;
    }
    #case-study {
        padding: 0 0 50px 0;
    }
    .case-study__info .wrapper {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 850px;
    }
    .case-study__info .wrapper h2 {
        margin: 0 2rem 0 0;
        width: 140px;
        text-align: right;
    }
    .case-study__section {
        justify-content: center;
        align-items: center;
        max-width: 690px;
        margin: 0 auto 8rem auto;
    }
    .case-study__special {
        flex-direction: row;
        margin-bottom: 5rem;
    }
    .case-study__shots .grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .case-study__shots .grid img {
        width: 49%;
        max-height: 430px;
    }
    .case-study__shots .grid img:nth-child(odd) {
        margin: 0 1% 1.5rem 0;
    }
    .case-study__shots .grid img:nth-child(even) {
        margin: 0 0 1.5rem 1%;
    }
    .case-study__results {
        text-align: center;
        padding: 50px 100px;
    }
    .case-study__navigator {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .case-study__navigator .button {
        width: 48%;
    }
    /* Formato About */
    .about__page {
        padding: 80px 120px;
    }
    .about__columns {
        flex-direction: row;
        justify-content: space-between;
    }
    .about__columns .about__page {
        width: 48%;
        padding: 80px;
    }
    /* Contacto */
    #contact p {
        font-size: 1rem;
        margin-bottom: .85rem;
        line-height: 1.8rem;
    }
    #contact p a:hover {
        color: #FFA040;
        transition: all .3s;
    }
    #contact .emoji {
        display: inline-block;
    }
    /* Menu */
    .menu__content {
        top: 50%;
    }
    .menu__item::before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 0;
        right: 100%;
        bottom: 0;
        background: #FFA040;
        height: 4px;
        -webkit-transition-property: right;
        transition-property: right;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }
    .menu__item:hover:before, .menu__item:focus:before, .menu__item:active:before {
        right: 0;
    }
    .menu__content p a:hover {
        color: #FFA040;
        transition: all .3s;
    }
    /* Hover Botones */
    .button--primary:hover {
        box-shadow: none;
        background: #002DCA;
    }
    .button--secondary:hover {
        color: #FFF;
        background: #0055ff;
    }
    .button--primary:hover:after {
        margin-left: 1rem;
    }
    .button--secondary:hover:after, .button--link:hover:after {
        background: url(../img/icn-button-link.svg) center center no-repeat;
        margin-left: 1rem;
    }
    .button--contact:hover {
        background: #002DCA;
    }
}

@media screen and (min-width: 320px) and (max-width: 400px) {
    #contact .wrapper {
        padding: 0 10px;
    }
    #contact .button--contact {
        font-size: 1rem;
        padding: 16px 45px 10px 45px;
    }
    #contact p {
        font-size: 1rem;
    }
}

/* Utilities */
.text-center {
    text-align: center;
}
.wrapper {
    padding: 0 30px;
    max-width: 1060px;
    margin: 0 auto;
}
.center-align {
    margin: 0 auto;
    display: block!important;
}
.u-mb0 {
    margin-bottom: 0!important;
}
.u-mb2 {
    margin-bottom: 2rem!important;
}
.u-mb3 {
    margin-bottom: 3rem!important;
}
.u-mb5 {
    margin-bottom: 5rem!important;
}
.hide {
    display: none;
}